* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 2500px;
}

.header {
    display: flex;
    height: 60px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.header-left {
    display: flex;
    gap: 15px;
    align-items: center;
}

.restaurant-name {
    font-size: 16px;
    color: #c41e3a;
    font-weight: bold;
    letter-spacing: 1px;
}

.header-right {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav {
    text-decoration: none;
    color: #000000;
    font-size: 13px;
    font-weight: 500px;
    cursor: pointer;
    padding: 8px 0px;
    border-bottom: 2px solid transparent;
}

.nav:hover {
    color: #c41e3a;
    border-bottom: 2px solid #c41e3a;
}