.menu-page {
  background-color: #f3f3f3;
  padding: 60px 0px;
  text-align: center;
  position: relative; 
  scroll-margin-top: 80px;
}

.teks-menu h2 {
  font-size: 38px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
  letter-spacing: -0.5px;
}

.menu-container {
  width: 85%;
  margin: 0 auto;
}

.menu-card {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  width: 300px; 
  display: inline-block; 
  vertical-align: top;
  margin-right: 15px;
  cursor: pointer;
}

.menu-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
}

.menu-info {
  padding: 20px;
  text-align: left;
}

.menu-info h3 {
  font-size: 120%;
  font-weight: 700;
  margin-bottom: 10px;
}

.menu-info p {
  font-size: 95%;
  color: #555555;
  line-height: 1.4;
  margin: 3px 0px;
}
